.navbar {
  background-color: transparent;
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
}

a.navbar-item {
  font-weight: 900;
  font-family: $typoheader;
  @include font-size(1);
  text-align: left;
  color: #23001e;
  &.active {
    -webkit-box-shadow:inset 0 -6px 0px 0px #FF7254;
    box-shadow: inset 0 -6px 0px 0px #FF7254;
  }

}

a.navbar-link {
  font-weight: 900;
  font-family: $typoheader;
  @include font-size(1);
  text-align: left;
  color: #23001e;
  &.active {
    -webkit-box-shadow: inset 0 -6px 0px 0px #FF7254;
    box-shadow: inset 0 -6px 0px 0px #FF7254;
  }
}