// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
@import "../layout/_header";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/index";
@import "primary/posts-and-pages";
@import "primary/post-image";
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

.rezos {
  //position: absolute;
  //left: 8rem;
  //width: 3pc;
  //margin-top: 15%;
  display:flex;justify-content:center;align-items:center;
}

.icon {
  color: white;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  height: 2rem;
  width: 2rem;

  &.fb {
	background: #3b5999;
    margin-left: 1rem;

  }
  
  &.twitter {
    margin-left: 1rem;
    background: #55acee;
  }
  
  &.linkedin {
	background: #0077B5;
  }
  
  &.slack {
	background: #3aaf85;
  }
}

.comments {
  margin-left: 14%;
  background: white;
  padding: 1%;
  border: 0.3rem solid #f2f2f2;
}

nav.navigation.post-navigation {
  margin-left: 15%;
  background: #f2f2f2;
  padding: 1rem;
  margin-right: 1%;
}


a {
  color: #ff6735;
}

.sticky-wrapper {
  //position: relative;
  z-index: 999;
}


.shadowNav {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(60, 60, 60, 0.1);
  -moz-box-shadow: 0px 10px 20px 0px rgba(60, 60, 60, 0.1);
  -o-box-shadow: 0px 10px 20px 0px rgba(60, 60, 60, 0.1);
  box-shadow: 0px 10px 20px 0px rgba(60, 60, 60, 0.1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.site-info {
  & a {
    color:white;
  }
}

.grecaptcha-badge {
  display: none;
}

.secondMenu {
  position: fixed;
  //top: 5rem;
  width: 100%;
  margin: 0px!important;
  max-width: none;
  left: 0;
  top: 84px;
  @media screen and (max-width:425px) {
    position : relative;
  }

  & a {
    display:flex;justify-content:center;align-items:center;
  }
  & .brand-name {
    padding-left: 1rem;
  }
}


.is-fixed {
  position: fixed;
  top:0;
}