// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
@import "../layout/_header";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/index";
@import "primary/posts-and-pages";
@import "primary/post-image";
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

.rezos {
  //position: absolute;
  //left: 8rem;
  //width: 3pc;
  //margin-top: 15%;
  display:flex;justify-content:center;align-items:center;
}

.icon {
  color: white;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  height: 2rem;
  width: 2rem;

  &.fb {
	background: #3b5999;
    margin-left: 1rem;

  }
  
  &.twitter {
    margin-left: 1rem;
    background: #55acee;
  }
  
  &.linkedin {
	background: #0077B5;
  }
  
  &.slack {
	background: #3aaf85;
  }
}

.comments {
  margin-left: 14%;
  background: white;
  padding: 1%;
  border: 0.3rem solid #f2f2f2;
}

nav.navigation.post-navigation {
  margin-left: 15%;
  background: #f2f2f2;
  padding: 1rem;
  margin-right: 1%;
}
