h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: $typoheader;
  font-weight: 600;
}
h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
}
.entry-title, .entry-title > a {
  font-family: $typoheader;
  font-weight: 900;
  @include font-size(2);
  text-align: left;
  color: $main_color;
  background: white;
  border-left: 2px solid #e8e6e6;
  border-right: 2px solid #e8e6e6;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
}

h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

section.widget:hover > h2.widget-title {
  background: $main_color;
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h2.widget-title {
  font-weight: 900;
  display: table;
  font-size: 20px;
  text-align: left;
  color: #707070;
  -webkit-box-shadow: 0 2px 0 0 $main_color;
  box-shadow: 0 2px 0 0 $main_color;
  margin-bottom: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: $main_color;
    color: white;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
