h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $typoheader;
}

.entry-title, .entry-title > a {
	font-family: $typoheader;
	font-weight: 900;
	@include font-size(2);
	text-align: left;
	color: #ff7254;

}