body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $typocontent;
	@include font-size(1);
	line-height: $font__line-height-body;
}

$typotitle : "Poppins",Tahoma, Geneva, sans-serif;
$typocontent : "Poppins", Arial, Helvetica, sans-serif;
$typoheader : "Poppins", Arial, Helvetica, sans-serif;

@import "headings";
@import "copy";


