
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marginless {
  margin: 0px;
}

.navbar-burger {
  height: inherit;
}

.column {
  &#laravel {
    @include small-transition;
    $color: #f55247!important;

    &:hover {
      background: #f55247;

      & a {
        color: white !important;
      }

      & .brand-name {
        font-weight: bold;
      }
    }
  }

  &#vuejs {
    @include small-transition;
    color: #42b883!important;

    &:hover {
      background: #42b883;

      & a {
        color: #35495e !important;
      }

      & .brand-name {
        font-weight: bold;
      }
    }
  }

  &#wp {
    @include small-transition;

    color: #21759b!important;

    &:hover {
      background: #21759b;

      & a {
        color: #d54e21 !important;
      }

      & .brand-name {
        font-weight: bold;
      }
    }
  }

  &#code {
    @include small-transition;

    color: #333!important;

    &:hover {
      background: #333!important;

      & a {
        color: #6cc644 !important;
      }

      & .brand-name {
        font-weight: bold;
      }
    }
  }

  &#art {
    @include small-transition;

    color: #ea4c89!important;

    &:hover {
      background: #444444;

      & a {
        color: #ea4c89 !important;
      }

      & .brand-name {
        font-weight: bold;
      }
    }
  }
}

