.sticky {
  display: block;
}


.post,
.page {
  margin: 0 0 5%;
  &.sticky {
    margin-bottom: 0px !important;
    margin-top: 1rem;
  }
}


.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.2em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

article {
  //margin-bottom: 5%;
}

.header_article {
  border-radius: 50px 20px 0px 50px;
  background: $color__bg-grey;
  padding-left: 7%;
  margin-left: -7%;
  padding-top: 1%;
  padding-bottom: 0%;

  &.sticky {
    background: transparent;
    padding-left: 15%;
  }

  @media screen and (max-width: 425px) {
    border-radius: 50px 20px 0px 0px;
    padding-left: 0%;
  }

}

header.entry-header {
  @media screen and (max-width: 425px) {
    padding-left: 7%;
  }
}

.reste-article {
  border-style: solid;
  border-width: 0px 2px 2px 2px;
  border-color: $color__bg-grey;
  -webkit-border-radius: 0 0 0 25px;
  border-radius: 0 0 0 25px;
  background: white;
  padding: 1rem;
  margin-top: 0%;
  overflow-wrap: break-word;

  &.sticky {
    padding: 0rem 4.5rem;
    border: 0px solid;
  }

  @media screen and (max-width: 425px) {
    margin-left: 0px;
    padding: 0.5rem;
  }
}

.edit-link {
  position: absolute;
}


.content_article {
  &.sticky {
    //margin-left: 10%;
    @media screen and (max-width: 425px) {
      margin-left: 0%;
    }
    background: white;
    border-radius: 50px;
    border: 2px solid $color__bg-grey;
  }
}

.wp-block-image {
  max-width: 80%;
  margin-bottom: 1em;
  margin-left: 10%;
  margin-right: 0;

  & img {
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, .4);
  }
}

footer.entry-footer {
  background: $color__bg-grey;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: 5%;
  -webkit-border-radius: 0 0 25px 25px;
  border-radius: 0 0 25px 25px;
  @media screen and (max-width: 425px) {
    padding: 0px !important;
    margin-left: 0%;

  }


  &.sticky {
    margin-left: 0px;
    -webkit-border-radius: 0 0 40px 40px;
    border-radius: 0 0 40px 40px;
  }
}

article.sticky {
  //margin-bottom: 4.5%;
}

// CATEG LINKS
.cat-links, .cat-links > a {
  color: $main_color;
}


