.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.2em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

article {
  /* width: 885px; */
  /* height: 410px; */

  /* margin-top: 3rem; */
  margin-bottom: 3rem;
  //padding-left: 7%;
}

.header_article {
  border-radius: 50px 20px 0px 50px;
  background: #f2f2f2;
  padding-left: 7%;
  padding-top: 1%;
  padding-bottom: 0%;

  &.sticky {
    background: transparent;
    padding-left: 15%;
  }

  @media screen and (max-width:425px) {
    border-radius: 50px 20px 0px 0px;
    padding-left: 0%;
  }

}

header.entry-header {
  @media screen and (max-width:425px) {
    padding-left: 7%;
  }
}
.reste-article {
  margin-left: 7%;
  border-left: 4px solid #f2f2f2;
  border-bottom: 4px solid #f2f2f2;
  border-right: 4px solid #f2f2f2;
  background: white;
  padding: 1rem;
  margin-top: 0%;
  overflow-wrap: break-word;

  &.sticky {
    margin-left: 15%;
    padding: 0rem;
    border: 0px solid;
  }

  @media screen and (max-width:425px) {
    margin-left: 0px;
    padding: 0.5rem;
  }


}

.image-class {
  display: flex;
  min-width: 250px;
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &.sticky-article {
    position: absolute;
    @media screen and (min-width: 1025px) and (max-width: 1440px) {
      left: 10%;
    }
    @media screen and (min-width: 769px) and (max-width: 1024px) {
      left: 6%;
    }
    @media screen and (max-width: 768px) {
      position: relative;
      -webkit-mask-image: none;
    }
  }
}

.edit-link {
  position: absolute;
}


.content_article {
  &.sticky {
    margin-left: 10%;
    @media screen and (max-width: 425px) {
      margin-left: 0%;
    }
    background: white;
    border-radius: 50px;
    border: 3px solid #f2f2f2;
  }
}

.wp-block-image {
  max-width: 80%;
  margin-bottom: 1em;
  margin-left: 10%;
  margin-right: 0;

  & img {
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, .4);
  }
}

footer.entry-footer {
  background: #F2F2F2;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: 7%;
  -webkit-border-radius: 0 0 25px 25px;
  border-radius: 0 0 25px 25px;

  @media screen and (max-width: 425px) {
    padding: 0px !important;
    margin-left: 0%;

  }


  &.sticky {
    margin-left: 0px;
    -webkit-border-radius: 0 0 40px 40px;
    border-radius: 0 0 40px 40px;
  }
}

article.sticky {
  //margin-bottom: 4.5%;
}

// CATEG LINKS
.cat-links, .cat-links > a {
  color: $main_color;
}


