.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

article {
  /* width: 885px; */
  /* height: 410px; */

  /* margin-top: 3rem; */
  margin-bottom: 3rem;
  margin-left: 7% !important;
  //padding-left: 7%;
}

.header_article {
  border-radius: 50px 20px 0px 50px;
  background: #f2f2f2;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 0%;

  &.sticky {
    background: transparent;
    padding-left: 15%;

  }
}

.reste-article {
  margin-left: 5%;
  border-left: 4px solid #f2f2f2;
  border-bottom: 4px solid #f2f2f2;
  border-right: 4px solid #f2f2f2;
  background: white;
  padding: 1rem;

  &.sticky {
    margin-left: 15%;
    padding: 0rem;
    border: 0px solid;
  }
}

.image-class {
  display: block;
  max-width: 100%;
  max-height: 17rem;
  width: 100%;
  height: 17rem;
  background-size: cover;
  background-repeat: no-repeat;

  &.sticky {
    position: absolute;
  }
}

.content_article {
  &.sticky {
    margin-left: 10%;
    background: white;
    border-radius: 50px;
    border: 3px solid #f2f2f2;
  }
}

footer.entry-footer {
  background: #F2F2F2;
  padding: 1rem;
  margin-left: 5%;

  &.sticky {
    margin-left: 0px;
    -webkit-border-radius: 0 0 40px 40px;
    border-radius: 0 0 40px 40px;
  }
}

article.sticky {
  margin-bottom: 4.5%;
}

// CATEG LINKS
.cat-links, .cat-links > a {
  color: $main_color;
}


