.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

article {
	/* width: 885px; */
	/* height: 410px; */

	/* margin-top: 3rem; */
	margin-bottom: 3rem;
	margin-left: 7%!important;
	//padding-left: 7%;
}

.header_article {
	border-radius: 50px 0px 0px 50px;
	background: #f2f2f2;
	padding-left: 5%;
	padding-top: 1%;
	padding-bottom: 0%;
}

.reste-article {
	margin-left: 5%;
	border-left:4px solid #f2f2f2;
	border-bottom:4px solid #f2f2f2;
	border-right:4px solid #f2f2f2;
	background:white;
	padding: 1rem;
}

.image-class{
	display: block;
	max-width: 100%;
	max-height: 17rem;
	width: 100%;
	height: 17rem;
	background-size: cover;
	background-repeat: no-repeat;
}

footer.entry-footer {
	background: #F2F2F2;
	padding: 1rem;
	margin-left: 5%;
}

// CATEG LINKS
.cat-links, .cat-links>a {
	color: $main_color;
}


