footer#colophon {
  background: #FF7254;
  position: absolute;
  margin-top: -1rem;
  color: white;
  padding: 1rem;
  z-index: 0;
  min-height: 20vh;
  width: 100%;

  & a {
    color:white!important;
    border-bottom: 3px solid white!important;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    &:hover {
      background:white;
      color:#FF7254!important;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -ms-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
    }
  }
}

